body {
    text-align: center;
    background-color: bisque;
}

a {
    text-decoration: none;
    color: grey;
}

ul {
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    color: pink;
    margin-top: 50px;
    margin-bottom: 50px;
}

li {
    list-style: none;
}